{% extends 'base.html.twig' %}

{% block title %}Création d'un événement{% endblock %}

{% block body %}


<section class="page-top-section">
    <div class="container">
        <h2>Organiser un événement</h2>
    </div>
</section>
<section class="form-registration-section">
    <div class="container mb-5 pt-5 mt-5">
	    <div class="row justify-content-md-center form-div">
        
            
            {{ form_start(eventForm, {
                'attr': {'class': 'contact-form col-10 ',
            }})}}
            <div class="row">
            {{form_row(eventForm.title)}}
            {{form_row(eventForm.location)}}
            {{form_row(eventForm.eventDate)}}
            {{form_row(eventForm.sportConcerned)}}
            {{form_row(eventForm.eventBody)}}
            </div>
            {{form_row(eventForm.send)}}
            {{form_end(eventForm)}}
        </div>
    </div>
</section>

{% endblock %}
