{% extends 'base.html.twig' %}

{% block title %}{{pageTitle}}- WeSport{% endblock %}

{% block body %}

    <section class="page-top-section">
        <div class="container">
            <h2>{{title}}</h2>
        </div>
    </section>
   <section class="form-profile-section">
        <div class="container mb-5 pt-5 mt-5">
            <div class="row justify-content-md-center form-div">       
                {{ form_start(form, {
                    'attr': {'class': 'contact-form col-10 ',
                }})}}
                {{ form_row(form.email ) }}
                <p>{{description}}</p>

                {{ form_row(form.send ) }}
                {{ form_end(form) }}
            </div>
        </div>
    </section>
   
    
{% endblock %}