{% extends 'base.html.twig' %}

{% block title %}Inscription - WeSport{% endblock %}

{% block body %}
 


<section class="page-top-section">
    <div class="container">
        <h2>Inscription</h2>
    </div>
</section>
<section class="form-registration-section">
    <div class="container mb-5 pt-5 mt-5">
	    <div class="row justify-content-md-center form-div">
        
            
            {{ form_start(registrationForm, {
                'attr': {'class': 'contact-form col-10 ',
            }})}}
                <div class="row">
                    {{ form_row(registrationForm.email)}}
                        
                    {{ form_row(registrationForm.username) }}
                
                    {{ form_row(registrationForm.password ) }}
                </div>
                {{ form_row(registrationForm.agreeTerms, {
                    'row_attr' : {'class' : 'col-md-12 d-flex nowrap'},
                    'label' : 'accepter les conditions d\utilisation',
                    'attr' : {'class' : 'col-md-1'}
                }) }}
                {{ form_row(registrationForm.send ) }}
            {{ form_end(registrationForm) }}     
	
	    </div>
    </div>
</section>
   

{% endblock %}
