{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}

{% block body %}
	<!-- Hero section -->
	<section class="hero-section ">
		<div class="container">
			<div class="hero-text">
				<h2>WeSport</h2>
				<h2>Trouvez vos coéquipiers et vos adversaires facilement</h2>
			</div>
		</div>
	</section>
	<!-- Hero section end -->

	<section id="search_section">
		<div class="d-flex justify-content-center m-2 row">
			<h2 class="search-title">Rechercher des partenaires de sport</h2>
		</div>
		<div class="container">
			{{form_start(form, {'action': path('sportresearch'), 'method': 'POST'})}}
				<div class="row">
					<div class="col-lg-12">
						<div class="row search-fields-container">
							<div class="col-lg-6 col-md-6 col-sm-12 p-0">
								{{form_row(form.city)}}
							</div>
							<div class="col-lg-6 col-md-6 col-sm-12 p-0">
								{{form_row(form.sport)}}
							</div>
						</div>
					</div>
				</div>
			{{form_end(form)}}
		</div>
		<!-- last registred user section -->
		<section id="result_section">
			<div class="container mt-5">
				<div class="d-flex justify-content-center m-4 row ">
					<h2 class="search-title">Les derniers inscrits</h2>
				</div>
				{% for user in lastUserRegistred %}
					<div class="row mb-4 justify-content-center result_content">
						<div class="col-md-12">
							<div class="card">
								<div class="card-body">
									<div class="row ">
										<div class="col-md-3 ">
											<img class="search-image" src="{{asset('assets/img/avatar.svg')}}" alt="">
										</div>
										<div class="col-md-5 profil_information">
											<h3 class="username">{{user.username}}</h3>
											{% if user.age %}
												<p class="age">, {{user.age}} ans</p>
											{% endif %}
											<p class="user-city">{{user.city}}</p>
											
											<p>
												{% for sportList in user.sportPraticed%}
													{{sportList.name}}
													{% if not loop.last %},
													{% endif %}
												{% endfor %}
											</p>
										</div>
										<div class="col-md-4">
											<div class="sub-row">
												<button type="button" class="btn btn-secondary btn-sm btn-block">Voir profile</button>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		</section>
		<!-- last registred user section end-->

		<!-- Event section -->
		<section class="events-section">
			<div class="events-container">
				<div class="section-title text-center">
					<h2>Les Prochains Evénéments</h2>
				</div>
				<div class="row">
					{% for event in lastEvent %}
						<div class="col-lg-4 col-sm-6 mb-4">
							<div class="event-item">
								<div class="event-pic">
									<h3>{{event.sportConcerned}}</h3>
									<img src="{{asset( 'https://picsum.photos/200/300?random=' ~ random(1, 100))}}" alt="">
								</div>
								<div class="event-content">
									<h4>{{event.title}}</h4>
									<p class="event-body">{{event.eventBody}}</p>
									<p>Lieu: {{event.location}}</p>
									<p>Date: {{event.eventDate|date("d/m/Y")}}</p>
								</div>
							</div>
						</div>
					{% endfor %}
				</div>
			</div>
		</section>
		<!-- Event section end -->

		

		<!-- Template section -->

		<template id="templateResult">
			<div class="row mb-4 justify-content-center">
				<div class="col-md-12">
					<div class="card">
						<div class="card-body">
							<div class="row ">
								<div class="col-md-3">
									<img class="search-image" src="{{asset('assets/img/avatar.svg')}}" alt="">
								</div>
								<div class="col-md-5">
									<h3 class="username">username</h3>
									<p class="age">âge</p>
									<p class="user-city">ville</p>
								</div>
								<div class="col-md-4">
									<div class="sub-row">
										<button type="button" class="btn btn-secondary btn-sm btn-block">Voir profile</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</template>
	</section>
	<!-- Template section end -->
{% endblock %}
