{% extends 'base.html.twig' %}

{% block title %}Déposer une petite annonce
{% endblock %}

{% block body %}

	<section class="page-top-section">
		<div class="container">
			<h2>Déposer une annonce</h2>
		</div>
	</section>
	<section class="form-registration-section">
		<div class="container mb-5 pt-5 mt-5">
			<div class="row justify-content-md-center form-div">
				{{form_start(classifiedAdForm,  {
                    'attr': {
                                'class': 'contact-form col-10 ',
                            }
                    })
                }}
				<div class="row">
					{{form_row(classifiedAdForm.title)}}
					{{form_row(classifiedAdForm.objectForSale)}}
					{{form_row(classifiedAdForm.sportConcerned)}}
					{{form_row(classifiedAdForm.price)}}
					{{form_row(classifiedAdForm.classifiedAdBody)}}
				</div>
				{{form_row(classifiedAdForm.send)}}
				{{ form_end(classifiedAdForm) }}
			</div>
		</div>
	</section>

{% endblock %}
