{% extends 'base.html.twig' %}

{% block title %}Profile utilisateur - WeSport{% endblock %}

{% block body %}
    

<section class="page-top-section">
    <div class="container">
        <h2>Mot de passe oubliée</h2>
    </div>
</section>
<section class="form-profile-section">
    <div class="container mb-5 pt-5 mt-5">
	    <div class="row justify-content-md-center form-div">       
            {{ form_start(form, {
                'attr': {'class': 'contact-form col-10 ',
            }})}}
    
        {{ form_row(form.oldPassword) }}
        {{ form_row(form.newPassword) }}
        {{ form_row(form.send) }}
    {{ form_end(form) }}
    </div>
    
{% endblock %}
