{% extends 'base.html.twig' %}

{% block title %}Modifier le Profile utilisateur
{% endblock %}

{% block body %}

	<section class="page-top-section">
		<div class="container">
			<h2>Modifier mes données personnelles</h2>
		</div>
	</section>
	<section class="form-profile-section">
		<div class="container mb-5 pt-5 mt-5">
			<div class="row justify-content-md-center form-div">
				{{ form_start(form, {
                'attr': {'class': 'contact-form col-10 ',
            }})}}
				{{ form_row(form.username) }}
				{{ form_row(form.email) }}
				{{ form_row(form.firstName) }}
				{{ form_row(form.lastName) }}
				{{ form_row(form.age) }}
				{{ form_row(form.city) }}
				{{ form_row(form.phoneNumber) }}
				{{ form_row(form.profileImage) }}
				{{ form_end(form) }}
			</div>
			<a href="{{path('profile_edit_password')}}">changer mon mot de passe</a><br>
		</div>
	</section>

{% endblock %}
