{% extends 'base.html.twig' %}

{% block title %}Profile utilisateur - WeSport{% endblock %}

{% block body %}
    <h1>update profile</h1>
    {{form_start(form)}}
        {{ form_row(form.username) }}
        {{ form_row(form.email) }}
        {{ form_row(form.firstName) }}
        {{ form_row(form.lastName) }}
        {{ form_row(form.age) }}
        {{ form_row(form.city) }}
        {{ form_row(form.phoneNumber) }}

    {{ form_end(form) }}

    <a href="{{path('profile_edit_password')}}">changer mon mot de passe</a><br>
    <a href="{{path('user_favorite_sport')}}">Rajouter un sport dans mes favori</a><br>
    <a href="{{path('event_organized')}}">Organiser un événement</a>
{% endblock %}
